process {

    executor = 'slurm'
    container = 'quay.io/biocontainers/thermorawfileparser-1.4.5--h05cac1d_1'

    queue = 'burst'
    clusterOptions = '-A bsd --qos=default --nodes=1'

    cpus   = 4
    memory = '11 GB'
    time   = '10h'
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = '/lustre/or-scratch/cades-bsd/jkg/cache'
    runCommand = 'apptainer exec'
    pullTimeout = '60m'
}

env {

    NXF_HOME = '/lustre/or-scratch/cades-bsd/jkg/work/.nextflow'
    SINGULARITYENV_NXF_TASK_WORKDIR = '/lustre/or-scratch/cades-bsd/jkg/work'
    SINGULARITYENV_TMPDIR   = '/lustre/or-scratch/cades-bsd/jkg/tmp'
}

// Defining parameters
params.raw_dir = '/lustre/or-scratch/cades-bsd/jkg/rawfiles'
workDir = '/lustre/or-scratch/cades-bsd/jkg/work'