process {

    executor = 'slurm'

    queue = 'burst'
    clusterOptions = '-A bsd --qos=default --nodes=1'

    withLabel: small {
        cpus = 1
        memory = '8 GB'
        time = '2h'
    }

    withLabel: large {
        cpus = 16
        memory = '64 GB'
        time = '24h'
    }

}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = '/lustre/or-scratch/cades-bsd/jkg/cache'
    runCommand = 'apptainer exec'
    pullTimeout = '60m'
}

env {

    NXF_HOME = '/lustre/or-scratch/cades-bsd/jkg/work/.nextflow'
    SINGULARITYENV_NXF_TASK_WORKDIR = '/lustre/or-scratch/cades-bsd/jkg/work'
    SINGULARITYENV_TMPDIR   = '/lustre/or-scratch/cades-bsd/jkg/tmp'
}

// Defining parameters
params.raw_dir = '/lustre/or-scratch/cades-bsd/jkg/rawfiles'
workDir = '/lustre/or-scratch/cades-bsd/jkg/work'
params.outdir  = 'results'
