// ------------------------------
// Executor configuration
// ------------------------------
executor {
    $slurm {
        queueSize = 100               // adjust based on cluster
        submitRateLimit = '10sec'
        jobName = { "${task.process}_${task.hash}" }
    }

    $local {
        cpus = 4
        queueSize = 4
        memory = 32.GB
    }
}

// ------------------------------
// Apptainer configuration
// ------------------------------
apptainer {
    enabled = true
    cacheDir = "$projectDir/cache/"
    autoMounts = true
}

// ------------------------------
// Process defaults
// ------------------------------
process {
    executor = 'slurm'
    errorStrategy = 'retry'
    maxRetries = 3

    // Cluster options (edit for your account/partition)
    clusterOptions = "-N 1 --partition=partition_name --qos=quality_of_service --account=account_name"

    // Resource labels
    withLabel: 'small' {
        cpus = 1
        memory = 2.GB
        time = '1h'
    }
    withLabel: 'med' {
        cpus = 3
        memory = 6.GB
        time = '1h'
    }
    withLabel: 'large' {
        cpus = 4
        memory = 8.GB
        time = '3h'
    }
    withLabel: 'huge' {
        cpus = 32
        memory = 64.GB
        time = '6h'
    }
}
